COMPOSE_PROJECT_NAME=sitecorejobs
SITECORE_VERSION=10.3.0-ltsc2019
TOPOLOGY=xm1-sxa
# VERSION=latest

# Host names must be lowercase.
HOST_DOMAIN=sitecorejobs.localhost
ID_HOST=id.sitecorejobs.localhost
CM_HOST=cm.sitecorejobs.localhost

# Image registries.
REGISTRY=
SITECORE_DOCKER_REGISTRY=scr.sitecore.com/sxp/
#SITECORE_TOOLS_REGISTRY=scr.sitecore.com/tools/
#SITECORE_MODULE_REGISTRY=scr.sitecore.com/sxp/modules/

# Sitecore base images.
EXTERNAL_IMAGE_TAG_SUFFIX=ltsc2019
TRAEFIK_IMAGE=traefik:v2.2.0-windowsservercore-1809

# Local Docker network.
LOCAL_NETWORK_NAME=sitecorejobs-local
LOCAL_NETWORK_SUBNET=172.28.10.0/24
LOCAL_NETWORK_GATEWAY=172.28.10.1

MSSQL_IP=172.28.10.10
MSSQL_INIT_IP=172.28.10.11
SOLR_IP=172.28.10.20
SOLR_INIT_IP=172.28.10.21
REDIS_IP=172.28.10.30
ID_IP=172.28.10.40
CM_IP=172.28.10.50
TRAEFIK_IP=172.28.10.60
SOLUTION_IP=172.28.10.70

# Sitecore modules and Docker tools.
TOOLS_IMAGE=scr.sitecore.com/tools/sitecore-docker-tools-assets:10.3.0-1809
MANAGEMENT_SERVICES_IMAGE=scr.sitecore.com/sxp/modules/sitecore-management-services-xm1-assets:5.1.25-1809
SPE_ASSETS_IMAGE=scr.sitecore.com/sxp/modules/sitecore-spe-assets:6.4.0.65-1809
SXA_ASSETS_IMAGE=scr.sitecore.com/sxp/modules/sitecore-sxa-xm1-assets:10.3.0-1809

# Isolation.
ISOLATION=default
TRAEFIK_ISOLATION=hyperv

# Credentials. Copy this file to .env and generate local values before running Docker.
SITECORE_ADMIN_PASSWORD=change-me
SQL_SA_LOGIN=sa
SQL_SA_PASSWORD=change-me
SQL_DATABASE_PREFIX=Sitecore
SQL_CUSTOM_DATABASE_PREFIX_UPDATE_FROM=

# Solr.
SOLR_CORE_PREFIX_NAME=sitecore

# Local paths.
LOCAL_DEPLOY_PATH=.\deploy\
LOCAL_DATA_PATH=.\data\
HOST_LICENSE_FOLDER=..\license

# Sitecore settings.
SITECORE_LICENSE=
REPORTING_API_KEY=change-me
SITECORE_IDSECRET=change-me
TELERIK_ENCRYPTION_KEY=change-me
SITECORE_ID_CERTIFICATE=change-me
SITECORE_ID_CERTIFICATE_PASSWORD=change-me
MEDIA_REQUEST_PROTECTION_SHARED_SECRET=change-me
LOG_LEVEL_VALUE=INFO

# Solution image.
BUILD_CONFIGURATION=debug

# Development SSL issue workaround.
# NODE_TLS_REJECT_UNAUTHORIZED=0
